<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.holoyugioh">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PlayerOptionActivity" />
        <activity android:name=".OppFieldActivity" />
        <activity android:name=".PlayerFieldActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity android:name=".NfcActivity" />
        <activity android:name=".PlaceCardActivity" />
        <activity android:name=".CardDetailsActivity" />
        <activity android:name=".CardOptionsActivity" />
        <activity android:name=".LifePointsCalculatorActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>